@font-face {
	font-family: 'Segoe-UI'; 
	src: url(segoe.ttf); 
}
body {
    color: #111;
    padding: 0;
    margin: 0;
    font-family: 'Segoe-UI';
}
a {
    text-decoration: none;
    color: #111;
}
.wrapper{
    margin: 0 3%;
    display: flex;
}