.sidebar{
    min-width: 200px;
    padding-top: 20px;
    position: fixed;
    right: 2%;
}
.sidebar a {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px 14px;
    display: block;
    margin-right: 20px;
    font-weight: bold;
    color: #c33;
}
.sidebar a:hover {
    color: #d66;
}
.sidebar a.active {
    background: linear-gradient(-225deg, #A445B2 0%, #d41866 40%, #ff0022 100%);
    color: #fefefe;
}
.sidebar a.active:hover{
    color: #f4f4f4;
}