.header {
    position: fixed;
    padding-top: 20px;
    min-width: 200px;
}
.header a {
    border-radius: 20px;
    margin-bottom: 10px;
    padding: 20px 14px;
    display: block;
    margin-right: 20px;
    font-weight: bold;
    color: #c33;
}
.header a:hover {
    color: #d66;
}
.header a.active {
    box-shadow: #c33 0px 0px 5px;
    background: linear-gradient(-225deg, #A445B2 0%, #d41866 40%, #ff0022 100%);
    color: #fefefe;
}
.header a.active:hover{
    color: #f4f4f4;
}
.logo{
    text-align: center;
    margin-bottom: 100px;
}
.logo h1{
    margin-bottom: 0;
}
.logo h3{
    margin-top: 0;
}