.tendersearch h1{
    margin-bottom: 40px;
}

.tenderlist_item {
    background: #fcfcfc;
    padding: 20px 20px;
    border-radius: 10px;
    font-weight: medium;
    margin-bottom: 10px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tenderlist_item .stage{
    border-radius: 25px;
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c33;
    color:#fafafa;
    margin: 0 10px;
}
.tenderlist_item .info{
    display: flex;
}
.tenderlist_item .title {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    margin-bottom: 10px;
}
.tenderlist_item .title a{
    display: block;
    color: #c33;    
}
.tenderlist_item .title a::first-letter{
    text-transform: uppercase;
}
.tenderlist_item .title a:hover{
    color: #e66;    
}
.tenderlist_item .close_date {
    margin-right: 10px;
    padding: 0 10px;
}
.tenderlist_item .id {
    margin-right: 10px;
}
.tenderlist_item .company_name {
    text-align: right;
}
.tenderlist_item .type_name {
    margin-right: 10px;
}
/* Tenderoverview */

.tender_overview {
    display: flex;
}
.tenderoverview .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tenderoverview h1{
    margin-bottom: 10px;
}

.tenderoverview .info>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.tenderoverview .title{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 10px;
}
.tenderoverview .type_name{
    font-size: 20px;
    margin-bottom: 20px;
}
.tenderoverview .close_date{
    font-size: 20px;
    font-weight: bold;
}
