.mytenders_button {
    border-radius: 20px;
    margin-left: auto;
    width: 200px;
    margin-top: 40px;
    padding: 20px 14px;
    display: block;
    margin-right: 20px;
    font-weight: bold;
    color: #c33;
    box-shadow: #c33 0px 0px 10px;
    background: linear-gradient(-225deg, #A445B2 0%, #d41866 40%, #ff0022 100%);
    color: #fefefe;
    outline: none;
    border: none;
    font-family: inherit;
    cursor: pointer;
}
.mytenders_button:hover{
    color: #f4f4f4;
}
.mytenders form{
    margin-bottom: 40px;
}
.mytenders .tenderlist{
    padding: 5px 0;
    margin-top: 40px;
    box-shadow: #ccc 0px 10px 20px;
    background: #fefefe;
    border-radius: 20px;
    
}
.mytenders .tenderpositions_item{
    border-bottom: 1px solid #ccc;
    align-items: center;
    display: flex;
    padding: 10px 20px;
}
.mytenders .tenderpositions_header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.mytenders .tenderpositions_footer{
    display: flex;
    align-items: center;
    background: #eee;
    padding: 5px 5px;
}
.mytenders .tenderpositions_info{
    flex-grow: 1;
}
.mytenders .tenderpositions_number {
    font-size: 14px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfcfc;
    background: #c33;
    box-shadow: #c33 0px 0px 5px;
    margin-right: 20px;
    min-width: 30px;
    height: 30px;
}
.mytenders .tenderpositions_name {
    width: 50%;
    margin-right: 20px;
    
    word-break: keep-all;
}
.mytenders .tenderpositions_name-end{
    color:#c33;
    width: calc(50% + 3px);
    margin-right: 20px;
    border: none;
    outline: none;
    word-break: break-all;
    padding: 5px 0;
    font-size: 16px;
    background: transparent;
}
.mytenders .tenderpositions_amount{
    font-weight: bold;
    width: 10%;
}
.mytenders .tenderpositions_description{
    font-weight: bold;
    width: 50%;
}
.mytenders .tenderpositions_unit_name{
    font-weight: bold;
    width: 5%;
}
.mytenders .tenderpositions_buy-price{
    color:#c33;
    width: 10%;
    outline: none;
    border: none;
    margin-right: 20px;
}
.mytenders .tenderpositions_sell-price{
    width: 10%;
    margin-right: 20px; 
}
.mytenders .tenderpositions_buy-summ{
    width: 10%;
    margin-right: 20px;
}
.mytenders .tenderpositions_buy-percent{
    border: none;
    background: #c33;
    box-shadow: #c33 0px 0px 10px;
    width: 50px;
    height: 50px;
    border-radius: 25px;    
    outline: none;
    text-align: center;
    color: #fff;
    
}
.mytenders .tenderpositions_buy-percent::placeholder{
    color: #fff;
}
.mytenders span{
    margin-left: 14px;
    font-size: 20px;
}